{% load staticfiles %}
<html>
    <head>
        <title>Think's blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div>
            <h1><a href="">Think's blog</a></h1>
        </div>

        {% for post in posts %}
            <div>
                <p>Publicado: {{ post.data_publicacao }}</p>
                <h1><a href="">{{ post.titulo }}</a> </h1>
                <p>{{ post.texto|linebreaksbr }}</p>
            </div>
        {% endfor %}
    </body>
</html>