<html>
    <head>
        <title>Think's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Think's blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2017, 12:14</p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p>"Queres ser rico? Pois não te preocupes em aumentar os teus bens, mas sim em diminuir a tua cobiça."<br/>Epicuro</p>
        </div>

        <div>
            <p>published: 14.06.2017, 12:14</p>
            <h2><a href="">Meu segundo post</a></h2>
            <p>"Podemos facilmente perdoar uma criança que tem medo do escuro; a real tragédia da vida é quando os homens têm medo da luz."<br/>Platão</p>
        </div>
    </body>
</html>